<div class="row m-2 p-5 centered">
    <h1  class="text-center fs-1">بلديــــة تكـــوت</h1>
    <h3 class=" text-center">توليــــد ملفـــات الدفـــــع </h3>
    <h4 class="text-center">من جدول إلى الملف النصي</h4>
</div>