<div class="row m-2 p-5 centered">
    <h1  class="text-center text-light fs-1">مجموعة البرامج المكتبية</h1>
    <h3 class=" text-center text-light">توليــــد ملفـــات دفـــــع المنح </h3>
    <h4 class="text-center text-light">منحة تضامن رمضان</h4>
</div>