<!DOCTYPE html>
<html lang="en" dir="rtl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/style.css">
    <script type="text/javascript" defer src="../../node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body class="bg-light">
    <%- include('../partials/header.ejs') %>
    <%- body %>
    <%- include('../partials/footer.ejs') %>
</body>
<script type="text/javascript" defer  src="/js/script.js"></script>

</html>