<h1> Settings</h1>
<div class="row">
<form method="POST", action="/configure">
    <label for="ccp">حساب المؤسسة</label>
    <input type="text" name="ccp" id="ccp" placeholder="#######/##">
    <label for="codeCommune">كود المؤسسة</label>
<input type="text" name="codeCommune" id="codeCommune" placeholder="##">
<label for="amount">مبلغ المنحة</label>
<input type="text" name="amount" id="amount" placeholder="#0.00">
<label for="postalTax">الرسم البريدي</label>
<input type="text" name="postalTax" id="postalTax" placeholder="#0.00">
<input type="submit" name="submit" value="Enregistrer">
</form>
</div>