<div class="m-1 p-3 form-control">
<form action="/verify" method="POST">
        <div class="row">
        <div class=" m-2 p-2 col-1">
                <label class="row " for="header">قائمة المستفيدين</label>
        </div>
        <div class=" m-2 col-5">
                <textarea class="row m-1 p-1 form-control rounded-sm" name="list" cols="80" rows="7" placeholder="[nom en latin][ccp][montant]..."></textarea>
        </div>
        <div class=" m-1 col-5">
                <label class="row " for="header"></label>
                <label class="row " for="header"></label>
        </div>
</div>
<div class="row">
        <div class="col-1"></div>
        <div class="col-9 m-2">
                <input type="submit" class="col-2 m-5 btn btn-info" id="verify"  value="تخزين">
        </div>
        <% if(isEmpty) {%>
        <div>
                <h1>
                        الرجاء إدخال بيانات 
                </h1>
        </div>
<% } %>
<a href="/display">عرض العمليات السابقة</a>
</div>
</form>
</div>