<div class="row form-group">
    <div class="col-4">
    </div>
    <div class="col-4 form-group">
        <form action="/register" method="POST">
            <label for="username" class="form-control bg-dark text-light border-0">
                اسم المستخدم
            </label>
            <input type="text" class="form-control bg-secondary text-dark" name="username">
            <br>
            <label for="codeCompany" class="form-control bg-dark text-light border-0">
                كود المؤسسة </label>
            <input type="text" class="form-control bg-secondary text-dark" name="codeCompany">
            <br>
            <label for="ccp" class="form-control bg-dark text-light border-0">
                رقم حساب المؤسسة </label>
            <input type="text" class="form-control bg-secondary text-dark" name="ccp">
            <br>

            <label for="amount" class="form-control bg-dark text-light border-0">
          المبلغ الممنوح للفرد</label>
            <input type="text" class="form-control bg-secondary text-dark" name="amount">
            <br>

            <label for="postalTax" class="form-control bg-dark text-light border-0">
        الرسم</label>
                  <input type="text" class="form-control bg-secondary text-dark" name="postalTax">
                  <br>
      
            <label for="password" class="form-control bg-dark text-light border-0">
                كلمة السر
            </label>
            <input type="password" class="form-control bg-secondary text-dark" name="password">
            <br>
            <label for="password" class="form-control  bg-dark text-warning border-0">
                تأكيد كلمة السر
            </label>
            <input type="password" class="form-control bg-secondary text-info" name="confirmPassword">
            <br>
            <input type="submit" class="form-control btn btn-outline-primary text-info" name="register" , value="تسجيل">
        </form>
    </div>
    <div class="col-4">
    </div>
</div>