<div class="row form-group">
    <div class="col-4">
    </div>
    <div class="col-4 form-group">
        <form action="/signIn" method="POST">
            <label for="username" class="form-control bg-dark text-light border-0">
                اسم المستخدم
            </label>

            <input type="text" class="form-control bg-secondary text-dark" name="username">
            <br>
            <label for="password" class="form-control bg-dark text-light border-0">
                كلمة السر
            </label>

            <input type="password" class="form-control bg-secondary text-dark" name="password">
            <br>
            <input type="submit" class="form-control btn btn-outline-primary text-info" name="signin" , value="دخول">
        </form>
        <br>
        <a href="/register" class="form-control btn btn-outline-primary">تسجيل</a>
    </div>
    <div class="col-4">

    </div>
</div>